.sidebar {
  width: 250px; 
  background-color: #57a7f8;
  color: #ffffff; 
  height: 100vh; 
  
  font-family: Arial, sans-serif;
}

.sidebar h2 {
  margin-bottom: 20px; 
  padding-left: 20px; 
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  display: flex;
  align-items: center;
  padding: 10px 20px; 
  cursor: pointer;
  transition: background-color 0.3s; 
}

.sidebar li:hover {
  background-color: #446288; 
}

.sidebar li.active {
  background-color: #1abc9c; 
}

.sidebar li.active:hover {
  background-color: #16a085; 
}

.sidebar li svg {
  margin-right: 10px; 
}
